.container {

	width: 980px;
	margin: 0 auto;
	


}

.right-div {
	width: 480px;
	height: 650px;
	border: dotted;
	display: inline-block;
	float: left;
	background-color: white;
	text-align: center;
}

.left-div {
	width: 480px;
	height: 650px;
	border: dotted;
	display: inline-block;
	float: right;
	background-color: white;
	text-align: center;
	
}

h1 {
	text-align: center;
	background-color: white;
	color: red;
}

img {
	margin-top: 20px;
}
